
/*
theme color:#46a546;
background color:#ebebeb;
content background color:#ffffff;

*/

body
{
  font: 14px/1.4 Georgia,Serif;
  font-family: 微软雅黑,Arial,Helvetica,sans-serif;
  color: #505050;
  line-height: 1.75em;
  background: #ffffff;
  position: relative;
  /*margin-top: 70px;*/
}

*
{
  margin: 0 0;
  padding: 0 0;
}

.navbar {
  border: 0px;
}

a:link,
a:visited {
  color: #3C3C3C;
  outline: 0;
  text-decoration: none;
}

ul{
  padding-left: 0;
  list-style: none;
}

a:hover,
a:active {
  color: #46a546;
  text-decoration: underline;
}

/*component background color*/
.navbar-default,
.main-content,
.breadcrumb {
  background-color: #ffffff;
  border-color: #e7e7e7;
}

/*.content h2{
  font-weight:700;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #555555;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 1px solid rgb(209, 209, 209);
}*/

.pagination>li>a, 
.pagination>li>span {
  color: #46a546;
}

.label-default {
  background-color: #46a546;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #46a546;
    border-color: #46a546;
}

.pagination .page-number {
  background: #e67e22;
  color: #ffffff;
  margin: 0 3px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
  border-radius: 2px;
}

/*
.navbar-toggle {
  float: left;
  margin-left: 15px;
}*/

.navbar-brand img{
  max-height: 100px;
  margin: auto;
  overflow: hidden;
}

.navbar-collapse
{
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-fixed-top .navbar-brand img
{
  max-height: 50px;
}

.navbar-fixed-top .navbar-collapse
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-brand{
  padding:0px 0px 0px 15px;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #FFF;
  background: #46a546;
}

.dropdown-menu>li>a
{
  padding: 10px 20px;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
  color: #FFF;
  background: #46a546;
}

.sns .qq {
    background-position: 0 -31px;
}

.sns a {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    display: inline-block;
    background: url(../img/icon-sns.gif) no-repeat 0 0;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: alpha(opacity=65);
    -moz-opacity: .65;
    opacity: .65;
}

.sns a:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

/*@media (max-width: 970px) {*/
  .breadcrumb {
    margin-bottom: 0px;
    padding-left: 0px;
  }
/*}*/

.breadcrumb>.active {
  color: #7B7B7B;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

.btn {
  padding: 7px 14px;
  border-radius: 2px;
  white-space: nowrap;
}

.btn-default {
  border: 1px solid #46a546;
  background: #46a546;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.btn-default:link,
a.btn-default:visited {
  color: #ffffff;
}

blockquote {
/*  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;*/
  border-left: 5px solid #46a546;
}

.elevator {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1030;
}

.elevator a {
  display: block;
  position: relative;
  margin: 1px 0;
  outline: none;
  height: 52px;
  width: 52px;
/*  -webkit-transition: background-position 0.15s;
  -moz-transition: background-position 0.15s;
  transition: background-position 0.15s;*/
  background: url(../img/elevator.png?1) no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.elevator .elevator-app {
  background-position: 0 -134px;
}
.elevator .elevator-app:hover {
  background-position: 0 -196px;
}

.elevator .elevator-weixin-box {
  position: absolute;
  /* display: none; */
  width: 200px;
  height: 200px;
  bottom: -10px;
  right: 52px;
  -webkit-transition: opacity 0.25s, transform .3s;
  -moz-transition: opacity 0.25s, transform .3s;
  transition: opacity 0.25s, transform .3s;
  opacity: 0;
  filter: alpha(opacity=0);
  max-width: 0;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: 100% 95%;
  -ms-transform-origin: 100% 95%;
  transform-origin: 100% 95%;
  background: url(../img/qrcode.jpg) no-repeat 0 0;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
  -moz-background-size:100% 100%; 
  background-size:100% 100%;
}

.elevator .elevator-weixin {
  background-position: 0 -444px;
}

.elevator .elevator-weixin:hover {
  background-position: 0 -506px;
}

.elevator .elevator-weixin:hover .elevator-weixin-box {
  /* max-width: none; */
  display: block;
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  max-width: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.elevator .elevator-msg {
  background-position: 0 -10px;
}
.elevator .elevator-msg:hover {
  background-position: 0 -72px;
}

.elevator .elevator-top {
  background-position: 0 -258px;
}

.elevator .elevator-top:hover {
  background-position: 0 -320px;
}

hr.common-divider {
  border: 0;
  height: 0;
  border-top: 1px solid #46a546;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-panel [class^="col-"],
.main-panel [class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}

.form-input {
  position: relative;
}

.form-input label {
  position: absolute;
  background: #fff;
  top: -6px;
  left: 6px;
  padding: 0 5px;
  line-height: 1;
  color: rgba(0,0,0,0.3);
}

.form-input .required{
  color: red;
  padding-left: 5px;
}

.form-input input,
.form-input textarea {
    border: 1px rgba(0,0,0,0.15) solid;
    line-height: 30px;
    /*width: 250px;*/
    padding: 5px 10px 0px 10px;
    /*height: 35px;*/
}

div.navbar-logo{
  margin: 20px 0;
}

div.navbar-logo img{
  max-height: 100px;
}

.topbar{
  background: #ebebeb;
  height: 40px;
  padding: 8px 0;
}

.topbar-date{
  float: left!important;
}

.topbar-date,
.topbar-social{

  position: relative;
  z-index: 9999;
}

.topbar a{
  height: 24px;
  line-height: 24px;
}

.topbar-social {
  float: right!important;
}

.topbar-social>a {
  margin-left: 4px;
  width: 24px;
  text-indent: -9999px;
  display: inline-block;
  background: url(../img/icon-sns.gif) no-repeat 0 0;
  cursor: pointer;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.topbar-social a.s_tsina{
  background-position: 0 0;
}

.topbar-social a.s_weixin{
  background-position: 0 -62px;
}

.topbar-social a.s_facebook{
  background-position: 0 -154px;
}

.topbar-social a.s_tqq{
  background-position: 0 -31px;
}

.topbar-social a.s_twitter{
  background-position: 0 -185px;
}

.topbar-social a.s_taobao{
  background-position: 0 -216px;
}

.pic-list .pic .pic-left img 
{
  max-height: 200px;
}

/*New css*/

.categories .widget-title,
.widget-container .widget-title
{
  height: 45px;
  line-height: 30px;
  color: #3e4142;
}

.categories .widget-title,
.widget-default .widget-title,
.widget-tags .widget-title,
.widget-pic .widget-title,
.widget-news .widget-title
{
/*  padding: 15px 0;
  _padding: 15px 0 0;*/
  border-bottom: 2px solid #eee;
}

.categories .widget-title h4,
.widget-container .widget-title h4
{
  float: left;
  position: relative;
}

.categories .widget-title h4,
.widget-default .widget-title h4,
.widget-tags .widget-title h4,
.widget-pic .widget-title h4,
.widget-news .widget-title h4
{
  border-bottom: 2px #46a546 solid;
  _padding-bottom: 12px;
   padding-bottom: 12px;
  left: 0;
}

.widget-container .widget-title .more {
  display: inline-block;
  float: right;
  padding: 5px 0 0 0;
  color: #999;
}

.widget-default
{
  margin-bottom:15px;
}

.categories,
.boxed {
  margin-bottom:15px;
  position: relative;
  z-index: 0;
}

.boxed .widget-content
{
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.widget-default .widget-content,
.widget-pic .widget-content,
.widget-sidebar .widget-content
{
  padding: 10px 10px;
}

.boxed-border
{
  border: 1px solid #e7e7e7;
}

.widget-content.content-border
{
  border: 1px solid #e7e7e7;
}

.widget-container ul.content-list li {
  margin: 10px 0; 
  border-bottom: 1px dashed #BEBEBE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget-tags ul.widget-content li {
  list-style: none;
  float: left;
  margin: 0 5px;
}

.widget-tags ul.widget-content li a {
  border: 1px solid #46a546;
  padding: 2px 7px;
  /* color: #959595; */
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section
{
  margin-bottom: 15px;
}

.content-bulletin {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
}

.content-bulletin img {
  width: 100%;
  height: auto;
}

.widget-pic .widget-content .pic-box {
  position: relative;
  display: inline-block;
  *display:inline;
  *zoom:1;
  /*border: none;*/
  margin:0 auto;
  padding:0;
  overflow: hidden;
/*  height: 300px;*/
  width: 100%;
  /*text-align: center;*/
}

@media (max-width: 768px) { 
/*  .widget-pic .widget-content .pic-box{
    height: 250px;
  }*/

  .navbar-brand img
  {
    max-height: 50px;
  }

}

/*@media (min-width: 768px) { 
  .widget-pic .widget-content .pic-list .pic-box img {
    max-height: 250px;
    min-height: 250px;
  }
}

@media (min-width: 992px) { 
  .widget-pic .widget-content .pic-list .pic-box img {
    max-height: 200px;
    min-height: 200px;
  }
}*/

.widget-pic .widget-content .pic-box img { 
/*  min-height: 100px;*/
  margin-left: auto;
  margin-right: auto;
}

.widget-pic .widget-content img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.widget-pic .widget-content img {
  margin: 0 auto;
  display: block;
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;
  -o-transition: -o-transform .3s linear;
  transition: transform .3s linear;
}

.widget-pic .widget-content .pic-caption
{
    position:absolute;
    bottom: 0px;
    background: #a1a1a1;
    background: rgba(0, 0, 0, 0.5);
    /*background:rgba(66, 139, 202, 0.75);*/
    width:100%;
    overflow: hidden;
    padding: 5px !important;
    /*display: none;*/
    /*text-align:center;*/
    color:#fff !important;
    z-index:2;
    text-align: left;
}

.widget-pic .widget-content .pic-caption a{
  color: #FFF;
}

.caption {
  margin-top: 10px;
}

aside ul
{
/*  padding: 14px 0;*/
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  width: 100%;
}

.widget-sidebar {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.widget-sidebar .widget-title{
  border-top: 2px solid #46a546;
  background: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
}

/*li.widget-sidebar ul.widget-content
{
  margin: 0 auto;
  padding: 10px 10px;
  list-style: none;
  overflow: hidden;
  width: 100%;
}*/

footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595!important;
}

.widget-footer .widget-title h4{
  border-bottom: 1px #46a546 solid;
  padding-bottom: 15px;
  _padding-bottom: 15px;
  left: 0;
  float: left;
  position: relative;
}


.widget-footer .widget-title {
  color: #959595!important;
  border-bottom: 1px solid #303030;
}

.widget-footer .widget-content .qrcode{
  max-height: 150px;
  max-width: 100%;
}

.widget-footer .widget-content ul li a:link,
.widget-footer .widget-content ul li a:visited {
  color: #959595;
}

.widget-footer .widget-content ul li a:hover,
.widget-footer .widget-content ul li a:active  {
  color: #46a546;
  text-decoration: underline;
}

.widget-search,
.widget-news {
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
}

.widget-news .widget-content .media-summary
{
  display: block;
}

.widget-news .widget-content .media-summary
{
  margin-top: 10px;
}

.widget-article
{
  padding: 5px 20px;
}

.widget-article article
{
  padding-bottom: 15px;
}

.widget-tags ul.widget-content li
{
  list-style: none;
  float: left;
  margin: 0 5px;
}

a.btn-tag:hover,
.widget-tags ul.widget-content li a:hover {
  color: #ffffff;
  background: #46a546;
  border: 1px solid #46a546;
  text-decoration: none;
}

.widget-tags ul.widget-content li a {
  border: 1px solid #46a546;
  padding: 2px 7px;
/*  color: #959595;*/
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pic-box img{
/*  height: auto;
  width: 100%;*/
}

.widget-article .widget-content img {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}

.media {
  margin-top: 5px;
}

.media .media-left a {
  width: 150px;
  height: 103px;
}

.media .media-left a {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.media .media-left img 
{
  width: 100%;
  height: auto;
}

.media .media-body {
  position: relative;
}

.widget-pic .media .media-left a {
  width: 150px;
  height: 103px;
}

.widget-pic .media .media-body .media-heading a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media .media-body span.media-meta {
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: #999;
}

.media .media-body span.media-meta span{
  margin-right: 10px;
}

.media .media-body a.btn {
  position: absolute;
  bottom: 5px;
  right: 0px;
}

#carousel-saints .carousel-inner .item img
{
  max-height: 300px;
}

.widget-article .sub-title
{
  margin-top: 20px
}

.widget-article .sub-title span
{
  margin-right: 10px;
  color: #999;
}

.widget-article .sub-title span i
{
  margin-right: 5px;
}

em.color {
  color: #46a546;
  margin-right: 5px;
}

strong.search-excerpt { color: red; }

.font-filter {
  /*filter: alpha(opacity=10);*/
  opacity: 0.6;
}


#postcomments{position:relative;background-color:#fff}
#respond{/* position:relative; */
  background-color:#fff;
  margin: 15px 0px;
}

#respond .base-tit{display:none}
.comment #respond{margin:10px 0 0;padding:0;border:1px solid #ddd}
.commentnew{background-color:#DFF0D8}
.commentnew .c-main{margin-bottom:5px}
.comment{padding:10px 0 5px 0}
.c-avatar .avatar{position: absolute;width:54px;height:54px; border-radius: 2px;webkit-transition:all 300ms ease-in-out;-o-transition:all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out;-ms-transition: all 300ms ease-in-out;-webkit-transition: all 0.3s ease-out;}

.c-main{padding:5px 15px;
  line-height:25px;
  margin-top:-2px;
  /*margin-left: 72px; */
  border-radius: 3px;position: relative;background:#fbfdfb;border: 1px #eee solid;font-size: 15px;word-wrap: break-word;}
.c-meta{color:#bbb;font-size:14px;}
.c-author{margin-right:10px}
.comment-reply-link{margin-left:6px;color:#00a67c;}
.comment-reply-link:hover{color:#D9534F}
/*.children .comment{padding:12px 0px 0px 10px;margin:10px 0 0 60px;}*/
.children .c-main p{margin-right:0}
.children .c-meta{padding-top:1px}
.c-floor{float:right;font-size:18px;color:#dddddd}
.comment:hover .c-floor{color:#999999}
.c-approved{border-radius:2px;background-color:#fbfbfb;border:1px solid #ccc;color:#999;display:inline-block;padding:1px 5px;margin-top:4px}
.wp-smiley{margin: 0 !important;display: inline-block!important;}
#comments{font-size:15px;padding:10px 5px;line-height:14px;color:#5fbaac;font-weight:normal;border-bottom:1px solid #DBECE8}
#comments b{font-weight:normal;font-size:13px}
#commentform{margin-bottom:0}
.comt-title{overflow:hidden;padding:5px 10px;background-color:#f7f7f7;}
.comt-count{float:right;color:#999;margin-bottom:5px}
.comt{margin:15px 0px;position:relative}
.comt-avatar{height:28px !important;width:28px}
.comt-avatar img{border-radius:2px;opacity:0.9;height:28px !important;width:28px !important;}
.comt-author{font-size:16px;color:#666}
.comt-author span{color:#bbb;margin-left:10px}
.comt-area{margin-bottom: 5px;}
.comt-ctrl{position:relative;overflow: hidden;}
.comt-addsmilies,.comt-addcode{float:left;color:#999;padding:0 10px 0 10px}
.comt-addsmilies:hover,.comt-addcode:hover{color:#666}
.comt-mailme{display: none;}

#comment{*width: 98.3%}
.comt-smilie{cursor: pointer;margin-top: 2px;display: inline-block;}
.comt-smilie:hover{color: #666;}
#comment-smilies{background-color: #EEEEEE;padding: 3px 5px;float: left;position: relative;line-height: 0}
#comment-smilies img{display: inline-block;padding: 3px;cursor: pointer;}
#comment-smilies::after{position: absolute;top: -5px;left: 20px;width: 0;height: 0;vertical-align: top;border-bottom: 5px solid #EEEEEE;border-right: 5px solid rgba(0, 0, 0, 0);border-left: 5px solid rgba(0, 0, 0, 0);content: "";}
.comt-smilie i,.btn-primary i{vertical-align: middle;}
.comt-smilie,.btn-primary{font-size:15px;height:36px !important;}
.comt-ctrl .popover{width:219px}
.comt-ctrl .popover-content{padding:2px 0 2px 1px}
.comt-ctrl .popover-content a{margin:-1px -1px 0 0;float:left;width:16px;height:16px;padding:5px;line-height:0;display:inline-block;border:solid 1px #eee}
.comt-ctrl .popover-content a img{display:block}
.comt-ctrl label{margin:0 5px}
.comt-ctrl label input{margin-right:4px}
.comt-tips{text-align: right;line-height: 30px;margin-right: 10px;color: #999;}
.comt-error{color:#D9534F;}
#loading{padding:5px 0}
#loading img{margin-right:5px;vertical-align: middle;}
#error{padding:5px 0;color:#cc0000}
.ajax-notice {color: #FF6600;font-size: 12px;}
.comt-submit{position:absolute;right:-1px;top:-1px;border:solid 1px #ddd;padding:0 30px;height:34px;width:120px;cursor:pointer;font-weight:bold;color:#666;border-radius:0 0 3px 0;background-image:-webkit-linear-gradient(#fbfbfb,#f6f6f6);text-shadow:0 -1px 0 #ffffff}
.comt-submit:hover{color:#444;border-color:#d6d6d6;background-image:-webkit-linear-gradient(#f6f6f6,#eeeeee)}
.comt-submit:active{border-color:#c6c6c6;box-shadow:inset 0 2px 2px #e6e6e6}
.comt-comterinfo{padding:20px 0 0 210px;color:#444;display:none;}
.comt-comterinfo h4{float:left;width:190px;line-height:100px;margin-left:-210px;text-align:right;_display:inline}
.comt-comterinfo ul{border-left:dotted 1px #ccc;padding-left:30px}
.comt-comterinfo li{margin-bottom:10px}
.comt-comterinfo input{margin-right:10px;position:relative;*bottom:-3px}
#cancel-comment-reply-link{display:none;color:#bbb;margin:-12px -20px;line-height:28px;font-size:14px;padding:12px 20px}
#cancel-comment-reply-link:hover{background-color:#999999;color:#fff}
.comment #cancel-comment-reply-link{display:block}

.commentlist {
  list-style: none;
}

